body {
    background-color: grey;
}

.css-classes h2{
    font-family:fantasy;
    color: whitesmoke;
    text-align: center;
}

.css-classes p{
    font-family: fantasy;
    color: whitesmoke;
    text-align: center;
    margin: 3px;
    border-style:inset;
    border-width: 3px 3px 3px 3px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#number-one {
    font-family: fantasy;
    font-weight:900;
}